.botaoComponente a {
  background-color: transparent;
  border-color: white;
  color: white;
  border-radius: 5px;
  border: 1px solid;
  font-size: large;
  padding: 20px;
  font-weight: bold;
  text-decoration: none;
}

.botaoComponente a:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.botaoComponente {
  border: none;
  background-color: transparent;
  margin: 0 0 30px 0;
}