.secaoRodape {
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color:#008040;
  padding-bottom: 24px;
}

.botaoSocial {
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  font-size: 1.25rem;
  border: 2px solid white;
  margin: 0px 8px;
  margin-bottom: 8px;
  color: white;
}

.botaoSocial:hover {
  color: black;
  background-color: white;
}

.copyright {
  background-color: #400040;
  color: white;
  padding: 24px;
}
.colunaRodape {
  width: 300px;
  padding: 0px 12px;
}
